@import '../../styles/variables.css';

button {
    height: 50px;
    width: 100%;
    max-width: 520px;
    border-radius: 8px;
    background-color: var(--jungle-color);
    color: var(--primary-color);
}