.conteiner-main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.conteiner-main main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.content-table {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content-button {
  width: 200px;
  margin: 1rem 0;
}

.content-checkbox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.content-buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: end;
  justify-content: end;
}


@media (max-width: 600px) {
 
 .content-table {

  width: 100%;
  padding: 1rem;
 }

}