@import '../../styles/variables.css';

header {
    background-color: var(--primary-color);
    height: 6rem;

    display: flex;
    justify-content: center;

    border-bottom-left-radius: 10px;  
    border-bottom-right-radius: 10px;
}

header div:first-child{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logoImg {
    margin-left: 0.5rem;
}